<h1>Spells containing "<%= search %>".</h1>
<table class="table table-bordered table-striped">
    <thead>
        <th>name</th>
        <th>url</th>
        <th>Add</th>
    </thead>
    <tbody>
        <% for(r of results){%> 
            <tr> 
                spell_id = <%= r.index%> 
                <td> <%= r.name %> </td> 
                <td> <a href = "https://www.dnd5eapi.co<%= r.url %>">https://www.dnd5eapi.co<%= r.url %></a> </td>
                <td> <a href = "/addSpell/:<%= r.index %>">Add to Spell List</a> </td>
            </td>

            </tr>
        <% } %>
    </tbody>
</table>
</form>